:local(.dialog) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000000, 0.8);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;

    > div {
        width: 50vw;
        height: 50vh;
        overflow: hidden;
        background: white;
    }
}
