:local(.root) {
    $padding: 0.5em;

    width: calc(100% - 2 * $padding);
    height: calc(100% - 2 * $padding);
    padding: $padding;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 0.5em;
    overflow: hidden;

    &:local(.blocked) {
        pointer-events: none;
        opacity: 0.5;
    }
}
